
{% extends 'pages/_base.jinja' %}


{% block content %}


<form method="post" action="/creatures/new" enctype="multipart/form-data">
    <label>
        Name
        <input name="name" type="text" required>
    </label>

     <label>
        speaces
        <input name="speaces" type="text" required>
    </label>

    <label>
        Image
        <input
            name="image"
            type="file"
            accept="image/png, image/jpeg, image/gif, image/webp"
            required
        >
    </label>

    <button>Add creature</button>
</form>

{%endblock%}